<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 引入mybatis相关配置文件 -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataS" />
			<property name="configLocation" value="classpath:mybatis-config.xml" />
			<!-- 映射器 -->
			<property name="mapperLocations" value="classpath:com/bdqn/ghb/mapper/*.xml" />
		</bean>
</beans>